@use '../../partials/mixins'as *;
@use '../../partials/variables'as *;

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

  &__spinner {
    color: color(global-white) !important;
    margin-bottom: 1rem !important;
  }

  &__text {
    color: color(global-white) !important;
  }
}

.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  position: relative;
}

.homepage-main {
  background-color: color(global-white);
  width: 90%;
  margin: 0 auto;
  height: 80%;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0px 0px 20px 20px rgba($color: color(global-black), $alpha: 0.10);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include tablet {
    flex-wrap: nowrap;
  }
}


.animated-dots {

  @keyframes opacityanimate {
    0% {
      content: "...";
    }

    50% {
      content: "..";
    }

    75% {
      content: ".";
    }

    100% {
      content: "";
    }
  }

  &::after {
    animation-duration: 1s;
    animation-name: opacityanimate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    content: "";
  }
}