$color: (global-black: #13182C,
    global-white: #FFFFFF,
    global-gray: #f3f6f8,
    input-borders: rgb(0 0 0 / 12%));

@function color($color-name) {
    @return map-get($color, $color-name);
}

$global-padding: 1rem;