$color: (global-black: #13182C,
    global-white: #FFFFFF,
    global-grey: #f3f6f8,
    app-bg: #4AB3A3,
    button-color: #E27D60,
    //button-color-dark: #5a3125,
    input-borders: rgb(0 0 0 / 12%));

@function color($color-name) {
    @return map-get($color, $color-name);
}

$global-padding: 1rem;